*{
    font-family:Helvetica;
}
.menu{
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -8px;
    margin-left: -10px;
    
}
.menu img{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
li{
    display: inline;
    padding: 5px;
}
ul{
    margin-top: -30px;
    margin-left: 30px;
}
.segon{
    margin-left: 1900px;
}
a{
    text-decoration:none ;
    color: #ccc;
}
a:hover{
    color: #FFF;
    text-decoration: underline;
}
.cartelera{
    background-color: #222;
    height: 2000px;
    width: 100%;
    margin-left: -10px;
    margin-top: -25px;
}
.documentales{
    background-color: red;
    height: 400px;
    display: inline-block;
    
}
h1{
    color: white;
}
.doc1{
    float: left;
    margin-left: 20px;
}
.doc2{
    float: left;
    margin-left: 20px;
}
.doc3{
    float: left;
    margin-left: 20px;
}
.doc4{
    float: left;
    margin-left: 20px;
}
.doc5{
    float: left;
    margin-left: 20px;
}
.doc6{
    float: left;
    margin-left: 20px;
}
.doc7{
    float: left;
    margin-left: 20px;
}
.titulo{
    font-size: 14px;
    color: #ccc;
}
.ano{
    font-size: 11px;
    color: #ccc;
}
.dere{
    font-size: 11px;
    color: #ccc;
    float: right;
    margin-top: -20px;
}